@import url(http://www.csszengarden.com/214/huntington.jpg);
body {
  padding: 15px;
  background-image: url(https://cdn.pixabay.com/photo/2019/12/10/07/18/ice-4685227_960_720.jpg);
  background-size: 100% 100%;
}

.content {
    background-image: url(https://st.depositphotos.com/1073974/3201/i/950/depositphotos_32010055-stock-photo-christmas-background.jpg);
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 1px 15px -3px rgba(0,0,0,.5);
    background-size: 100% 100%;
}

.something {
  margin: 0 0 0 10px;
  float: left;
  width: 10%;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 15px -3px rgba(0,0,0,.5);
  background-color: rgb(241, 255, 254, 0.9);
  font-size: 2vh;
  line-height: 2vh;
}

.contentYet {
    width: 80%;
    float: left;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 1px 15px -3px rgba(0,0,0,.5);
    background-color: rgb(241, 255, 254, 0.9);
}



.title {
  font-family: 'Merriweather', Arial, serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 20px;
  border-bottom: 3px solid red;
}

.title::first-letter {
  color: red;
  font-size: 55px;
}


/* Текст */

.shadowed {
  font-size: 40px;
  color: #000;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-weight: 100;
  text-shadow: 3px 4px 3px #f74242;
}

.green{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  width:100px;
  text-align: center;
  font-size: 14px;
  padding: 2px 8px;
  margin: 5px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;        
  }
  .green {
  background-color: rgb(90, 179, 185);
  border: 1px solid rgb(18, 29, 133);
  }
          
  .green:hover {
  background-color: rgb( 75, 183, 141 );
  }
  input[type=text] {
    border: 2px solid rgb(19, 7, 77);
    border-radius: 4px;
  }
  input[type=password] {
    border: 2px solid rgb(19, 7, 77);
    border-radius: 4px;
  }