<head>
    <meta charset="utf-8">
    <title>Создатели Firefox</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 20px; margin-right: 20px">
<div style="display:inline-block;">
    <a href="/users" class="button">Регистрация/Вход</a>
    <a href="/" class="button">История Firefox</a>
</div>
<div class="page-wrapper">
    <section>
        <header>
            <h1>Создатели Firefox</h1>
        </header>
        <div class="preamble">
            <p>На сегодняшний день над поддержанием функциональности и расширением возможностей браузера трудятся как сотрудники Mozilla Foundation, так и волонтёры со всего мира. И всё же у браузера есть свои «отцы», которых и принято считать создателями Firefox. Их всего двое — Блейк Аарон Росс и Дэйв Хьюит. Думаю, они заслуживают нескольких слов.</p>
            <br>
            <p>Блейк Аарон Росс</p>
            <div style="float:left; margin: 0px 7px 7px 0;">
                <img src="images/blejk-aaron-ross.jpg">
            </div>
            <p>Как говорится, «программист до мозга костей»: свой первый сайт создал всего в 10 лет. В пользу его высокого профессионализма говорит хотя бы тот факт, что в Netscape Communications он стажировался с 15 лет, будучи ещё школьником. Когда первая версия браузера увидела свет, Блейку Россу было всего 19 лет. Сегодня Блейк Аарон Росс продолжает работать в Mozilla Foundation, параллельно трудясь в ещё одном гиганте — Facebook. Кстати, именно Блейк Росс является автором достаточно популярной и интересной книги «Firefox для чайников».</p>
            <br>
            <br>
            <br>
            <br>
            <p>Джо Хьюит</p>
            <div style="float:left; margin: 0px 7px 7px 0;">
                <img src="images/joe-hewitt.jpg">
            </div>
            <p>В отличие от Блейка Росса, Джо давно отошёл от разработки Firefox. Он работал над браузером лишь до 2002 года, затем перешёл в Apple, где влился в коллектив, занимающийся разработкой браузера Safari. Интерфейс вкладок Firefox и первые спецификации для языков разметки — это всё его работа.</p>
        </div>
    </section>
</div>
</body>