<head>
    <title>Архитектура IE</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 20px; margin-right: 20px">
<div>
    <section>
        <header>
            <h1>Архитектура IE</h1>
        </header>
        <div class="text">
            <p>Internet Explorer использует компонентную архитектуру, построенную на модели компонентных объектов технологии (COM). Она состоит из нескольких основных компонентов, каждый из которых содержится в отдельной библиотеке динамической компоновки (DLL) и предоставляет набор COM-интерфейсов программирования, устраиваемый основной исполняемый файл Internet Explorer, iexplore.exe:</p>
            <div style="float:right; margin: 0px 7px 7px 0;">
                <img src="ie5.gif">
            </div>
            <ul style="list-style-type: square">
                <li> WinInet.dll это обработчик протокола для HTTP, HTTPS и FTP. Он обрабатывает все сети связи по этим протоколам.</li>
                <li> Urlmon.dll отвечает за MIME обработку — типа и загрузки веб-контента, а также обеспечивает поточно обертку WinInet.dll и других реализаций протокола.</li>
                <li> MSHTML.dll размещает Trident движок рендеринга, введенный в Internet Explorer 4, который отвечает за отображение страниц на экране и обработки Document Object Model веб-страниц. MSHTML.dll разбирает файл CSS HTML и создает внутреннее DOM представление дерева его. Он также предоставляет набор API-интерфейсов для проверки выполнения и модификации дерева DOM. DOM-дерево дополнительно обрабатывается с помощью макета двигателя, который затем делает внутреннее представление на экране.</li>
                <li> Ieframe.dll содержит пользовательский интерфейс и окно IE в Internet Explorer 7 и выше.</li>
                <li> Shdocvw.dll обеспечивает навигацию, локального кэширования и истории функций для браузера.</li>
                <li> Browseui.dll отвечает за визуализацию пользовательского интерфейса браузера, такие как меню и панель инструментов.</li>
            </ul>
            <p>Internet Explorer не включает в себя базовую функциональность сценариев. Скорее всего, MSHTML.dll выставляет API, который позволяет программисту разрабатывать среду исполнения сценариев, должен быть подключен в систему и получить доступ к дереву DOM. Internet Explorer 8 включает в себя привязки для активных сценариев двигателя, который является частью Microsoft Windows. IE 8 вводит некоторые основные архитектурные изменения, называемые слабосвязанным IE (LCIE). LCIE отделяет главное окно процесса (процесс кадра) от процессов, принимающих различных веб-приложения в различных вкладках (вкладка процессов). Процесс кадра может создать несколько процессов вкладок, каждая из которых может иметь различный уровень целостности; каждый процесс вкладки можно размещать на несколько веб-сайтов. Процессы используют асинхронное межпроцессное взаимодействие для синхронизации себя. Это единый процесс кадров для всех веб-сайтов.</p>
        </div>
    </section>

    <section>
        <br>
        <br>
        <br>
        <header>
            <h1><a href="/" class="s13">Перейти к истории развития IE</a></h1>
        </header>
        <br>
        <br>
    </section>
</div>
</body>