<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="/stylesheets/mobile_style.css" rel="stylesheet"/>
    <title>Edit data</title>
    <script src="/javascripts/edit.js">
    </script>
    <script type="module">
        import Page from "/javascripts/Page.js";
        const page = new Page();
    </script>
</head>
<body>
<nav>
    <div id="title"><a href="/index.html">Title</a></div>
    <div class="nav-item" onclick="document.location.href = '/client.html'">Client</div>
    <div class="nav-item" onclick="document.location.href = '/java.html'">Java</div>
    <div class="nav-item" onclick="document.location.href = '/node.html'">Node</div>
    <div id="user">
        <a href="register.html">Sign up</a>/<a href="#">Sign in</a>
    </div>
</nav>
    <article>
        <form class="content" method="post" action="/api/user/change">
            <p align="center"><b>Your data</b></p>

            <br/>
            Your email
            <input type="email" id="email" name="newEmail" value="{{email}}" oninput="checkChanges()"/>
            <input type="hidden" id="oldEmail" value="{{email}}" name="oldEmail"/>
            <br/>
            Your nick
            <input type="text" id="nick" value="{{nick}}" oninput="checkChanges()" name="newNick"/>
            <input type="hidden" id = "oldNick" value="{{nick}}"/>
            <br/>
            <button onclick="passCh(event)">Change password</button>
            <br/>
            Enter your current password to confirm
            <br/>
            <input type = "hidden" id="pass" name="pass"/>
            <input type = "hidden" id="newPass" name="newPass"/>
            <input type="password" id="password" placeholder="password"/>
            <button onclick="sendData()" id="confB" disabled>Change</button>

        </form>
    </article>
    <footer>footer</footer>
</body>
</html>
