<head>
  <title>История развития Internet Explorer</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 20px; margin-right: 20px">

<div style="display: table-cell;">
  <pre><code><script>
  function OnSubmitForm() {
    if(document.pressed === 'reg') {
      document.myform.action = "/register";
    } else if(document.pressed === 'login') {
      document.myform.action = "/login";
    }
    return true;
  }
</script>
<form name="myform" onsubmit="return OnSubmitForm();" method="POST">
  <div class="container">
  <div class="form__group">
    <input class="form__input" placeholder="Имя" id="name" name="name" required>
    <label for="name" class="form__label">Имя</label>
    <input class="form__input" placeholder="Пароль" id="password" name="password" required>
    <label for="password" class="form__label">Пароль</label>
    <button class="button" type="submit" onClick="document.pressed=this. value" value="reg">Регистрация</button>
    <button class="button" type="submit" onClick="document.pressed=this. value" value="login">Вход</button>
  </div>
    <div class="images">
      <img src="chrm1.jpg">
    </div>
</div>
</form></code></pre>
</div>

<div>
  <section>
    <header>
      <h1>Google Chrome</h1>
    </header>
    <div class="text">
      <p>Google Chrome — браузер, разрабатываемый компанией Google на основе свободного браузера Chromium и движка Blink (до апреля 2013 года использовался WebKit). Первая публичная бета-версия для Windows вышла 2 сентября 2008 года, а первая стабильная — 11 декабря 2008 года. По данным StatCounter, Chrome используют около 300 миллионов интернет-пользователей, что делает его самым популярным браузером в мире — его рыночная доля в июле 2016 года составила 58,29 %. По данным LiveInternet, в июле 2016 года с долей 49,3 % Chrome занимает первое место и в Рунете.</p>
    </div>
  </section>

  <section>
    <header>
      <h1>История</h1>
    </header>
    <div class="text">
      <p>До 2008 года исполнительный директор корпорации Google Эрик Шмидт и слышать не хотел ни о каком собственном браузере под маркой компании. Его можно понять: ниша ПО для сёрфинга в Сети была давно поделена. К тому времени каждый пользователь уже нашёл свою любимую программу, с помощью которой и выходил в Интернет. Приходить туда со своей новой разработкой, пусть даже и под столь грозным брендом, было крайне опасно: если бы новое детище Гугл провалилось на этапе представления пользователям, то это стало бы значительным ударом по престижу поискового гиганта.</p>
      <p>И всё же были в компании люди, которые верили в успех начинания. В частности, небезызвестные нам основатели Google — Сергей Брин и Ларри Пейдж. Обладая колоссальными финансовыми возможностями, они могли позволить себе создать прототип браузера «на свой страх и риск». Иначе говоря, первый вариант Google Chrome разрабатывался вообще без каких-либо гарантий на то, что впоследствии продукт будет одобрен исполнительным директором.</p>
      <p>Нанятые из Mozilla Firefox специалисты не подвели: они создали настолько удобный и лёгкий в управлении браузер, что Эрик Шмидт сменил гнев на милость. Было принято решение о начале полноценной работы по подготовке к выпуску программы «в свет». Днём рождения Google Chrome официально считается 2 сентября 2008 года: именно в этот день корпорация официально заявила о создании нового браузера. Кстати, именно тогда же вышла и первая бета-версия, ориентированная на ОС Windows. Начало было положено.</p>
    </div>
  </section>

  <section>
    <header>
      <h1>История версий</h1>
    </header>
    <div class="text">
      <p>Все версии Chrome поддерживают Windows. Linux и OS X поддерживаются, начиная с версии 5.0.375.</p>
      <p>После ряда предупреждений в апреле 2016 года была прекращена поддержка браузера для Windows XP и Vista, а также OS X 10.6, 10.7 и 10.8 [50]. Браузер продолжает работать, но не обновляется. Выпущенная 7 апреля 2016 года версия Chrome 49.0.2623.112 на такие компьютеры пришла[51]. Первой недоступной для старых операционных систем стала 13 апреля 2016 года версия Chrome 50.0.2661.75, исправляющая 20 уязвимостей[52]. Встроенный в браузер Flash Player при этом продолжал обновляться на этих системах вплоть до версии 22.0.0.209, выпущенной 12 июля 2016 года[53]. Однако следующая версия 23.0.0.162 встроенного Flash Player, выпущенная 13 сентября 2016 года, слишком запаздывает без объяснения причин[54].</p>
    </div>
  </section>

  <section>
    <header>
      <h1>Недостатки</h1>
    </header>
    <div class="text">
      <p>1. Не очень много русскоязычных расширений. Так как сам браузер англоязычный, то и большинство расширений к нему делаются на английском языке.<p>
      <p>2. Довольно высокая нагрузка на оперативную память. Несмотря на кажущуюся быстроту и легкость, Chrome «кушает» приличный объем оперативной памяти. Такая прожорливость объясняется тем, что при открытии нескольких отдельных вкладок браузер создает несколько отдельных процессов .exe. Если же во вкладках есть flash-элементы, то нагрузка на «оперативку» возрастает еще больше.<p>
      <p>3. Заточенность лишь под одну поисковую систему. Так как данный браузер создавался компанией Google, то и безукоризненно работает он только с этим поисковиком. При работе с другими поисковыми системами (например, Яндексом) некоторые возможности браузера отпадают.<p>
      <p>4. Довольно высокий расход энергии аккумулятора. .Данная особенность часто является ключевой для владельцев ноутбуков и нетбуков, потому что при активном использовании интернета заряда аккумулятора может хватить буквально на пару часов.<p>
      <p>5. В качестве заставки нельзя использовать собственный фоновый рисунок. Используется только изображение браузера по умолчанию.<p>
      <p>6. Не совсем удобный просмотр кода страницы. Просмотр исходного кода в Google Chrome реализован недостаточно качественно. При просмотре видна лишь нижняя половина кода. Поэтому необходимо постоянно перемещать курсор мыши, чтобы увидеть нужный участок.<p>
      <p>7. Проблемы при работе с WordPress. Это актуально для тех, кто ведет блог на движке WordPress. Речь идет об искажении отображаемых данных в визуальном редакторе движка. К примеру, при написании постов все абзацы и предложения могут сбиваться в одну кучу (игнорируются теги форматирования).<p>
    </div>
  </section>

  <section>
    <header>
       <h1>Настройка и управление Google Chrome</h1>
      </header>
      <div class="text">
        <p>Теперь давайте рассмотрим более подробно настройки и возможности Chrome. Все наши манипуляции будут проходить исключительно под "гаечным ключом", который располагается в правом крайнем положении "Панели навигации". Нажав на него, мы попадаем в "сердце настроек и управления" браузера Google. Здесь можно:</p>
        <ul style="list-style-type: square">
          <li> открыть новое окно, вкладку;</li>
          <li> запустить режим инкогнито, во время которого не ведется история посещений и не сохраняются куки. Причем все файлы, которые будут загружены, или закладки, которые будут созданы, останутся в целости и сохранности;</li>
          <li> масштабирование страницы;</li>
          <li> распечатка документа, "сохранить страницу как";</li>
          <li> "Создать ярлык приложения" - позволяет сохранить адрес страницы в "Меню Пуск" или на "Рабочем Столе" в виде иконки, для быстрого доступа к нужному сайту;</li>
          <li> Диспетчер закладок, история, загрузки, режимы для разработчиков;</li>
          <li> Справка о Chrome;</li>
          <li> Параметры.</li>
        </ul>
      </div>
    </section>
</div>
</body>
