<head>
    <title>История развития Internet Explorer</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 20px; margin-right: 20px">
<div >
    <header style="margin-left: 75%">
        <h1 style="margin-left: 0">Поздравляю с авторизацией !</h1>
        <a href="/">Выход</a>
    </header>
</div>
<div>
    <section>
        <header>
            <h1>История развития IE (Internet Explorer)</h1>
        </header>
        <div class="text">
            <div style="float:right; margin: 7px 7px 7px 0;">
                <img src="ie.jpg" width="255" height="255">
            </div>
            <p>Internet Explorer (читается «Интернет Эксплорер», сокращённо MSIE или IE) — программа для скачивания, браузер, которую разрабатывала корпорация Microsoft с 1995 по 2015 год. Входила в комплект операционных систем семейства Windows вплоть до Windows 10, где её сменил Microsoft Edge (На самом деле, IE остаётся в системе Windows 10 до 1909 включительно).</p>
            <p>Со времени выхода первого релиза Microsoft добавила ряд функций и технологий. Среди них — отображение таблиц HTML (в Internet Explorer 1.5); интерфейс программирования приложений XMLHttpRequest (в Internet Explorer 5), который помогает создавать динамические сайты; и интернационализованные доменные имена (в Internet Explorer 7), что позволяет давать сайтам адреса символами не только латиницы.</p>
            <p>Последний стабильный релиз браузера, Internet Explorer 11, состоялся 8 апреля 2014 года. Его пользовательский интерфейс был адаптирован таким образом, чтобы одинаково подходить в качестве программы для настольного компьютера и приложения для Windows 8.</p>
            <p>Версии Internet Explorer были выпущены для других операционных систем, включая Internet Explorer для Xbox 360 и Internet Explorer Mobile для мобильных устройств (для Windows CE, Windows Mobile и Windows Phone 7), Internet Explorer для Mac и Internet Explorer для UNIX (разрабатывался компанией Microsoft для использования в ОС Solaris и HP-UX; разработка прекращена с версией IE 5 в 2001 году, а поддержка прекращена в 2002).</p>
            <p>Internet Explorer имеет вкладки, блокировщик всплывающих окон, фишинг-фильтр, встроенный RSS-агрегатор, поддержку интернациональных доменных имён, средств групповой политики и возможность авто обновления через Windows Update.</p>
        </div>
    </section>

    <section>
        <header>
            <h1>Первая победа Internet Explorer</h1>
        </header>
        <div class="text">
            <p>Проект по разработке Internet Explorer был основан в 1994 году Томасом Риардоном. Согласно данным обзора Массачусетского технологического института в 2003 году, он использовал исходный код программы Mosaic разработчика Spyglass, Inc., который формально связан с браузером NCSA Mosaic.</p>
            <p>Первая версия Internet Explorer, Microsoft Internet Explorer (позже названа Internet Explorer 1), вышла 16 августа 1995 года и представляла собой переработанную версию браузера Spyglass Mosaic, лицензия на который была выкуплена Microsoft. Она шла в комплекте с Microsoft Plus! для Windows 95 и OEM-релиза для Windows 95. Через несколько месяцев был выпущен Internet Explorer 1.5 для Windows NT, который поддерживал функцию отображения таблиц HTML на веб-страницах.</p>
            <p>К 2001 году было выпущено шесть версий программы, причём каждая из версий существенно обновлялась и модернизировалась. Нужно отдать должное Internet Explorer — для того времени это был вполне добротный браузер: высокая скорость загрузки, полная бесплатность, постоянные обновления.</p>
            <p>Не мудрено, что именно в период с 1999 по 2003 года браузер Internet Explorer завоевал огромную долю рынка, окончательно разгромив в честной борьбе совершенно не обновляемый Netscape Navigator. Именно этот период (до 2003 года) принято считать «золотой эрой» IE: по некоторым данным в тот момент программой пользовались до 90% посетителей Интернета.</p>
            <img src="ie2.png" hspace="25%">
        </div>
    </section>

    <section>
        <header>
            <h1>Закат IE</h1>
        </header>
        <div class="text">
            <div style="float:right; margin: 7px 7px 7px 0;">
                <img src="ie4.jpg" width="650" height="380">
            </div>
            <p>В 2001 году вышла знаменитая шестая версия Internet Explorer, ставшая причиной тысяч тяжёлых нервных расстройств и приступов ненависти у веб-мастеров всего мира. Эта версия совершенно игнорировала общепринятые стандарты разработки сайтов и приложений, специально принятые на консорциуме W3C.</p>
            <p>Помимо того, что сама по себе шестая версия была достаточно хороша, не считая проблем с безопасностью, она устанавливалась на Windows XP — настоящий шедевр Microsoft, который побил все рекорды популярности среди пользователей: немыслимое дело, даже сегодня, спустя более 10 лет, этой ОС пользуются миллионы людей.</p>
            <p>Сложилась просто фантастическая ситуация: очень популярная версия браузера установлена на ещё более популярную версию ОС. Но Microsoft не потянула конфронтации со всем миром и не вынесла из этой ситуации никакой пользы для себя. То, что отлично сработало с Windows, не сработало с браузером ИЕ: пользователи начали искать другие программы для сёрфинга в Сети.</p>
            <p>За шестой версией браузера закрепилась дурная слава как среди веб-разработчиков, так и среди пользователей. И чем больше росла популярность XP, тем больше недовольства вызывал встроенный в неё браузер. Вот такой парадокс в истории Internet Explorer.</p>
        </div>
    </section>

    <section>
        <header>
            <h1>IE в наши дни</h1>
        </header>
        <div class="text">
            <p>Компания Microsoft начала в спешке исправлять ситуацию, но было уже слишком поздно. Отток пользователей начался и продолжается до сих пор. Была девятая версия Internet Explorer, где все сайты просматривались вполне корректно, да и проблемы с безопасностью были более-менее решены, но за эти годы выросли и оперились новые программы (Опера, Хром, Файерфокс), которые на порядок выше IE.</p>
            <p>На сегодняшний день насчитывается 11 полноценных релизов IE, причём последний — вполне конкурентоспособный продукт. Не без изъянов, конечно.</p>
            <p>Сегодня доля браузера Internet Explorer колеблется от 25% в США до 8% в России и некоторых странах Европы. Если раньше приток пользователей был совершенно естественным, то сегодня удержание позиций возможно только при поддержке огромных денег, массового пиара и, конечно же, интеграции в самую популярную в мире ОС Windows.</p>
            <p>Microsoft Internet Explorer мог стать для посетителей Интернета тем же, чем стала Windows для большинства пользователей компьютеров — всем. Но в итоге IE стал всего лишь одним из.</p>
        </div>
    </section>

    <section>
        <br>
        <br>
        <br>
        <header>
            <h1><a href="/architecture" class="s13">Ознакомиться с архитектурой IE</a></h1>
        </header>
        <br>
        <br>
    </section>
</div>
</body>