extends layout

block content
  nav
    #myTopnav.topnav
      a(href='/login')  ЗАЛОГИНИТЬСЯ 
      a(href='/reg')  ЗАРЕГАТЬСЯ 
    hr(color='black', width='280')
  .content
      p.subhead История Internet Explorer
      p
        | Со времени выхода первого релиза Microsoft добавила ряд функций и технологий.
        | Среди них — отображение таблиц HTML (в Internet Explorer 1.5); интерфейс
        | программирования приложений XMLHttpRequest (в Internet Explorer 5), который
        | помогает создавать динамические сайты; и интернационализованные доменные имена
        | (в Internet Explorer 7), что позволяет давать сайтам адреса символами не только латиницы.
        | Последний стабильный релиз браузера, Internet Explorer 11, состоялся 8 апреля 2014 года.
        | Его пользовательский интерфейс был адаптирован таким образом, чтобы одинаково
        | подходить в качестве
      p xчто то
  script(src='design/js/readparams.js')
