<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Главная</title>
  </head>
  <header>
    <nav>
      <input type="checkbox" id="checkbox-menu" />
      <label for="checkbox-menu">
        <ul class="menu touch">
          <li>
            <a id="logo" href="/">Главная</a>
          </li>
          <li><a id="hour"></a> <a id="greeting"></a></li>
          <li><a id="auth" href="/authorization">Авторизация</a></li>
          <li><a id="reg" href="/registration">Регистрация</a></li>
          <li><a id="logout" href="/logout">Выйти</a></li>
        </ul>
        <span class="toggle">☰</span>
      </label>
    </nav>
  </header>
  <body>
    <div class="containers">
      <div class="first">
        <h1>
          Введение в
          <a href="https://www.getpostman.com/"
            ><img src="images/postmanlogo.png"
          /></a>
        </h1>
        <div class="navigation">
          <nav class="toc">
            <h2>Содержание:</h2>
            <ul>
              <li><a href="#1">Postman</a></li>
              <li><a href="#2">Введение</a></li>
              <li><a href="#3">Collection</a></li>
              <li><a href="#4">Folder</a></li>
              <li><a href="#5">Request</a></li>
              <li><a href="#6">Заключение</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </body>
  <script src="../javascripts/index.js"></script>
</html>
