extends layout

block content
  nav
    #myTopnav.topnav
      a(href=direction class="logAction")=action
      a(href='/reg')  ЗАРЕГАТЬСЯ 
      span(style="padding: 0px 0px 0px 80px") #{greeting}
    hr(color='black', width='280')
  .content
      p.subhead История Internet Explorer
      p
        | Проект по разработке Internet Explorer был основан в 1994 году Томасом Риардоном. Согласно данным обзора Массачусетского технологического института в 2003 году, он использовал исходный код программы Mosaic разработчика Spyglass, Inc., который формально связан с браузером NCSA Mosaic.
      p
        | Первая версия Internet Explorer, Microsoft Internet Explorer (позже названа Internet Explorer 1), вышла 16 августа 1995 года и представляла собой переработанную версию браузера Spyglass Mosaic, лицензия на который была выкуплена Microsoft.Она шла в комплекте с Microsoft Plus! для Windows 95 и OEM-релиза для Windows 95. Через несколько месяцев был выпущен Internet Explorer 1.5 для Windows NT, который поддерживал функцию отображения таблиц HTML на веб-страницах.
      p
        | Ряд инноваций, предложенных Internet Explorer, стали впоследствии использоваться другими браузерами. Среди них — элемент HTML &lt;i&gt;, который позволяет встраивать одни HTML-документы в другие (был добавлен в Internet Explorer 3), значок для избранного (favicon), который появился в Internet Explorer 4, и свойство для динамического обновления содержимого элементов innerHTML в Internet Explorer 4.
      p
        | Для Internet Explorer 5 был разработан XMLHttpRequest, который позволил осуществлять HTTP-запросы к серверу без перезагрузки страницы. В этой версии также появился способ захвата и перетаскивания элементов (drag-and-drop), который почти без изменений был стандартизирован в HTML5 и теперь поддерживается почти всеми веб-браузерами. Аналогично был адаптирован атрибут contentEditable, который был добавлен в версии Internet Explorer 5.5 и позволял редактировать часть страницы прямо в браузере, а также Clipboard Access с IE6, дающий браузеру доступ к буферу обмена в определённых ситуациях.
      p
        | Internet Explorer 6 был первым браузером, интегрировавшим в себя платформу P3P, представляющую из себя средство обеспечения конфиденциальности данных пользователя.
      p
        | Internet Explorer 7, в свою очередь, включал новые функции, призванные обеспечить безопасность пользователя и оградить его конфиденциальные данные от вирусов и сетевых атак.

  script(src='design/js/readparams.js')
