<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Главная</title>
  </head>
  <header>
    <nav>
      <input type="checkbox" id="checkbox-menu" />
      <label for="checkbox-menu">
        <ul class="menu touch">
          <li>
            <a id="logo" href="/">Главная</a>
          </li>
          <li><a id="hour"></a> <a id="greeting"></a></li>
          <li><a id="auth" href="/authorization">Авторизация</a></li>
          <li><a id="reg" href="/registration">Регистрация</a></li>
          <li><a id="logout" href="/logout">Выйти</a></li>
        </ul>
        <span class="toggle">☰</span>
      </label>
    </nav>
  </header>
  <body>
    <div class="containers-shadow">
      <div class="containers">
        <p></p>
        <div class="d0">
          <h1>Введение в <span class="postman-color">Postman</span></h1>
          <!-- <div class="wrapper"><div><img id="postman-logo" src="/postmanlogo.png" /></div></div> -->
          <h2>Содержание</h2>
          <ol>
            <li><a href="#navPostman">Postman</a></li>
            <li><a href="#navIntroduction">Введение</a></li>
            <ol>
              <li><a href="#navCollection">Collection</a></li>
              <li><a href="#navFolder">Folder</a></li>
              <li><a href="#navRequest">Request</a></li>
            </ol>
            <li><a href="#navConclusion">Заключение</a></li>
          </ol>
        </div>
        <div class="d1">
          <h1 id="navPostman">Postman</h1>
          <p>
            Основное предназначение приложения — создание коллекций с запросами
            к вашему API. Любой разработчик или тестировщик, открыв коллекцию,
            сможет с лёгкостью разобраться в работе вашего сервиса. Ко всему
            прочему, Postman позволяет проектировать дизайн API и создавать на
            его основе Mock-сервер. Вашим разработчикам больше нет необходимости
            тратить время на создание "заглушек". Реализацию сервера и клиента
            можно запустить одновременно. Тестировщики могут писать тесты и
            производить автоматизированное тестирование прямо из Postman. А
            инструменты для автоматического документирования по описаниям из
            ваших коллекций сэкономят время на ещё одну "полезную фичу". Есть
            кое-что и для администраторов — авторы предусмотрели возможность
            создания коллекций для мониторинга сервисов
          </p>
        </div>
        <div class="d2">
          <h1 id="navIntroduction">Введение</h1>
          <div class="wrapper">
            <div><img src="images/intro.png" /></div>
            <p>1 — коллекция, 2 — папка, 3 — запрос</p>
          </div>
          <p>
            Главные понятия, которыми оперирует Postman это Collection
            (коллекция) на верхнем уровне, и Request (запрос) на нижнем. Вся
            работа начинается с коллекции и сводится к описанию вашего API с
            помощью запросов. Давайте рассмотрим подробнее всё по порядку.
          </p>
        </div>
        <div class="d3">
          <h2 id="navCollection">Collection</h2>
          <p>
            Коллекция — отправная точка для нового API. Можно рассматривать
            коллекцию, как файл проекта. Коллекция объединяет в себе все
            связанные запросы. Обычно API описывается в одной коллекции, но если
            вы желаете, то нет никаких ограничений сделать по-другому. Коллекция
            может иметь свои скрипты и переменные, которые мы рассмотрим позже.
          </p>
        </div>
        <div class="d4">
          <h2 id="navFolder">Folder</h2>
          <p>
            Папка — используется для объединения запросов в одну группу внутри
            коллекции. К примеру, вы можете создать папку для первой версии
            своего API — "v1", а внутри сгруппировать запросы по смыслу
            выполняемых действий — "Order & Checkout", "User profile" и т. п.
            Всё ограничивается лишь вашей фантазией и потребностями. Папка, как
            и коллекция может иметь свои скрипты, но не переменные.
          </p>
        </div>
        <div class="d5">
          <h2 id="navRequest">Request</h2>
          <p>
            Запрос — основная составляющая коллекции, то ради чего все и
            затевалось. Запрос создается в конструкторе. Конструктор запросов
            это главное пространство, с которым вам придётся работать. Postman
            умеет выполнять запросы с помощью всех стандартных HTTP методов, все
            параметры запроса под вашим контролем. Вы с лёгкостью можете
            поменять или добавить необходимые вам заголовки, cookie, и тело
            запроса. У запроса есть свои скрипты. Обратите внимание на вкладки
            "Pre-request Script" и "Tests" среди параметров запроса. Они
            позволяют добавить скрипты перед выполнением запроса и после. Именно
            эти две возможности делают Postman мощным инструментом помогающим
            при разработке и тестировании.
          </p>
          <div class="wrapper">
            <div><img src="images/request.png" /></div>
            <p>
              1 — вкладки с запросами, 2 — URL и метод, 3 — параметры запроса, 4
              — параметры ответа
            </p>
          </div>
        </div>
        <div class="d6">
          <h2 id="navConclusion">Заключение</h2>
          <p>
            Основные плюсы, которые подтолкнули нас к использованию Postman в
            своём проекте:
          </p>
          <ul>
            <li>
              Наглядность – все запросы всегда под рукой, мануальное
              тестирование во время разработки становится легче
            </li>
            <li>
              Быстрый старт – вовлечение нового игрока в команду, будь то
              программист или тестировщик, проходит легко и быстро
            </li>
            <li>
              Тесты – возможность писать тесты для запросов, а потом быстро
              составлять из них, как из пазлов, различные варианты и пути жизни
              приложения
            </li>
            <li>
              Поддержка CI — возможность интегрировать тесты в CI с помощью
              newman (об этом будет отдельная статья)
            </li>
          </ul>
          <p>
            Поддержка CI — возможность интегрировать тесты в CI с помощью newman
            (об этом будет отдельная статья)
          </p>
          <ul>
            <li>
              Редактирование коллекции привязано к Postman, т. е. для изменений
              потребуется сделать импорт, отредактировать, а затем сделать
              экспорт в репозиторий проекта
            </li>
            <li>
              Так как коллекция лежит в одном большом json файле, Review
              изменений практически невозможно
            </li>
          </ul>
          <p>
            У каждого проекта свои подходы и взгляды на тестирование и
            разработку. Мы увидели для себя больше плюсов, чем минусов, и
            поэтому решили использовать этот мощный инструмент, как для
            тестирования, так и для описания запросов к API нашего проекта. И по
            своему опыту можем сказать, даже, если вы не будете использовать
            средства тестирования, которые предоставляет Postman, то иметь
            описание запросов в виде коллекции будет весьма полезно. Коллекции
            Postman это живая, интерактивная документация к вашему API, которая
            сэкономит множество времени, и в разы ускорит разработку, отладку и
            тестирование!
          </p>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <p>Вот такие пироги</p>
  </footer>
  <script src="../javascripts/index.js"></script>
</html>
