<head>
  <meta charset="utf-8">
  <title>История развития Google Chrome</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/buttons.css" rel="stylesheet" type="text/css">
  <link href="/css/input.css" rel="stylesheet" type="text/css">
</head>
<body>
<div style="display:inline-block;
  float:right;
  height:28px;
  max-width:984px;
  position:relative;
  margin-right:150px;
  margin-top:-40px;
  text-indent:0;
  vertical-align:middle;
  white-space:nowrap;
  width:auto;
  z-index:0;">
  <a href="/register" class="button1">Регистрация</a>
  <a href="/login" class="button1">Вход</a>
</div>
<div style="margin-left: 100px; margin-right: 100px; margin-top: 50px; border-radius: 20px; background-color: rgba(253,255,244,0.8)">
<div class="page-wrapper">
  <section >
    <header>
      <h1></h1>
    </header>

    <div class="summary">
      <p>Google Chrome — браузер, разрабатываемый компанией Google на основе свободного браузера Chromium и движка Blink</p>
    </div>

    <div class="preamble">
      <h3>От идеи до релиза</h3>
      <p>На протяжении шести лет главный исполнительный директор Google Эрик Шмидт не поддерживал идею о создании отдельного браузера. Он указывал на то, что «Google являлась небольшой компанией», и что он не хотел участвовать в «болезненных войнах браузеров». После того как основатели компании Сергей Брин и Ларри Пейдж наняли нескольких разработчиков Mozilla Firefox и создали демоверсию Chrome, Шмидт сказал: «она была настолько хорошей, что заставила меня изменить моё мнение».</p>
      <p>Компания Google объявила о выпуске собственного браузера Chrome 2 сентября 2008. Первая бета-версия браузера была опубликована для Windows 2 сентября 2008 года, была доступна на 43 языках. За первые несколько часов после выпуска в Google было отправлено несколько сотен различных сообщений об ошибках.</p>
      <p> Chrome быстро приобрёл около 1% рынка. После первоначального всплеска доля пользователей упала до уровня в 0,73 % в октябре 2008 года. Затем вновь начала расти, пока в декабре 2008 Chrome снова не преодолел порог в 1%.</p>
    </div>
  </section>

  <div class="supporting">
    <div>
      <h3>Реакция общественности</h3>
      <p>Во время запуска бета-версии браузера осенью 2008 года пресса положительно восприняла браузер от Google. Издание TechCrunch отметило, что Google создала превосходный браузер. Обозреватель PCWorld Ник Медиати написал, что браузер удовлетворяет потребности обычного пользователя ПК, при этом предоставляет множество возможностей для продвинутого пользователя. Журналист издания TechHerald Стив Рэган заявил, что Google необходимо работать над улучшением браузера для конкуренции с Mozilla Firefox и Internet Explorer, несмотря на впечатляющую бета-версию. Журналист The Wall Street Journal Уолтер Моссберг написал, что Google удалось создать умный и инновационный браузер, позволяющий использовать Интернет быстрее и проще.</p>
    </div>

    <div>
      <h3>Награды</h3>
      <ul style="list-style-type: disc;">
        <li> Издание PC Magazine присвоило браузеру Google Chrome 15 награду «Выбор редакторов».</li>
        <li> Это же издание присвоило браузеру Google Chrome 14 награду «Лучший продукт 2011 года» в номинации «Лучший веб-браузер».</li>
        <li> Издание Tom’s Hardware впервые в своей истории присвоило награду «Лучшее Tom’s Hardware» программному продукту, а именно браузеру Chrome, а также добавило «I гран-при» среди браузеров.</li>
        <li> Это же издание присвоило браузеру награду «II гран-при» среди браузеров на платформе GNU/Linux, «V гран-при», «VI гран-при» среди браузеров на платформе Windows.</li>
      </ul>
    </div>

    <div>
      <h3>Логотип</h3>
      <p>В 2011 году в Google Chrome 11 был представлен новый плоский логотип, заменивший прежний объёмный, приблизивший его к новому логотипу Chromium, но в цветном варианте.</p>
      <p>По словам дизайнера из Google Стива Рура, «мы обновили логотип Chrome, чтобы лучше показать эти чувства. Простой значок воплощает в себе дух Chrome — сделать сеть быстрее, легче и проще для всех».</p>
    </div>

    <div>
      <h3>Развитие</h3>
      <p>Команда разработчиков Chrome решила использовать в своём браузере движок WebKit, как им посоветовала команда Android. Как и большинство других браузеров, Chrome был протестирован внутри компании перед выпуском.</p>
      <p>Первая версия Google Chrome полностью прошла Acid1 и Acid2 тесты, но не Acid3 (только 79/100 тестов). Начиная с версии 4.0, Chrome проходит все тесты.</p>
    </div>

    <div>
      <h3>Особенности браузера</h3>
    <div style="margin-left: 2%">
      <h3>Безопасность</h3>
      <p>Chrome периодически загружает обновления из двух чёрных списков (один для фишинг-сайтов и один для сайтов, содержащих вредоносное ПО) и предупреждает пользователя, когда тот пытается посетить вредоносный сайт.</p>
      <p>Chrome, создаёт для каждой вкладки отдельный процесс, чтобы не допустить ситуации, при которой содержимое одной вкладки имеет возможность влиять на содержимое другой (также в случае, если процесс обработки содержимого вкладки зависнет, его можно будет завершить без риска потери данных других вкладок). Процессу вкладки даётся наименьшее число привилегий, процесс может совершать вычисления, но не может производить чтение или запись.</p>
    </div>

    <div style="margin-left: 2%">
      <h3>Скорость</h3>
      <p>Google Chrome использует высокопроизводительный движок обработки JavaScript V8. Также для ускорения загрузки страниц Google Chrome может использовать упреждающее чтение DNS.</p>
    </div>

    <div style="margin-left: 2%">
      <h3>Стабильность</h3>
      <p>В Chrome используется многопроцессная архитектура, и каждой вкладке или плагину, в большинстве случаев, соответствует отдельный процесс. Эта процедура, называемая изоляцией процессов, исключает вероятность того, что вкладки будут мешать друг другу. Также злоумышленник, используя одну вкладку, не сможет подсмотреть, что происходит в другой, и, если на одной вкладке произойдёт сбой, это не помешает работе всего браузера — нужно будет просто закрыть данную вкладку.</p>
      <p>Chrome включает в себя диспетчер задач, который позволяет посмотреть, как сайты и плагины используют оперативную память, процессор и интернет-канал пользователя, а также завершить их работу в случае необходимости.</p>
    </div>
    </div>
  </div>

  <div class="supporting">
    <h3>10 принципов успеха Chrome</h3>
    <ul style="list-style-type:decimal;">
      <li> быстрый просмотр страниц</li>
      <li> высокий уровень безопасности</li>
      <li> минимализм в дизайне</li>
      <li> плагины и расширения</li>
      <li> синхронизация с аккаунтом Google</li>
      <li> режим «инкогнито»</li>
      <li> инструменты для веб-мастеров</li>
      <li> наличие динамических вкладок</li>
      <li> контроль сбоев в работе программы</li>
      <li> удобная поисковая строка, совмещенная с адресной</li>
    </ul>
  </div>

</div>
</div>
</body>