<head>
  <meta charset="utf-8">
  <title>Вход</title>
  <link href="/css/buttons.css" rel="stylesheet" type="text/css">
  <link href="/css/input.css" rel="stylesheet" type="text/css">
</head>
<div class="group" style="left: 48.5%;
    margin-right: -50%;">
<h1>Вход</h1>
<form action="/login" method="POST">
  <div class="group" style="left: -4%;">
    <input type="email" id="email" name="email" required>
    <span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group" style="left: -4%;">
    <input type="password" id="password" name="password" required>
    <span class="bar"></span>
    <label>Пароль</label>
  </div>
</div>
<div style="text-align: center;">
  <button type="submit" class="button1">Вход</button>
  <a href="/register" class="button1">Регистрация</a>
</div>
</form>