extends layout

block content
    .limiter
      .container-login100(style="background-image: url('design/images/bg-01.jpg');")
        .wrap-login100.p-l-55.p-r-55.p-t-65.p-b-54
          form.login100-form.validate-form(method="post" action="/api/auth" name="auth")
            span.login100-form-title.p-b-49
              | ЗАЛОГИНЬСЯ
            .wrap-input100.validate-input.m-b-23(data-validate='Введите логин  ')
              span.label-input100 Логин
              input.input100(type='text', name='login', placeholder='  Введите логин')
              span.focus-input100(data-symbol='😲')
            .wrap-input100.validate-input(data-validate='Введите пароль')
              span.label-input100 Пароль
              input.input100(type='password', name='password', placeholder='  Введите пароль  ')
              span.focus-input100(data-symbol='😆')
            .container-login100-form-btn
              .wrap-login100-form-btn
                .login100-form-bgbtn
                button.login100-form-btn
                  | ЗАЛОГИНИТЬСЯ
            .txt1.text-center.p-t-54.p-b-20
              span
                | Нет аккаунта? 
              a.txt2(href='/reg')
                | ЗАРЕГАЙСЯ
    #dropDownSelect1
    script(src='design/vendor/jquery/jquery-3.2.1.min.js')
    script(src='design/vendor/animsition/js/animsition.min.js')
    script(src='design/vendor/bootstrap/js/popper.js')
    script(src='design/vendor/bootstrap/js/bootstrap.min.js')
    script(src='design/vendor/select2/select2.min.js')
    script(src='design/vendor/daterangepicker/moment.min.js')
    script(src='design/vendor/daterangepicker/daterangepicker.js')
    script(src='design/vendor/countdowntime/countdowntime.js')
    script(src='design/js/main.js')