<head>
  <meta charset="utf-8">
  <title>История создания и развития браузера Mozilla Firefox</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body style="margin-left: 20px; margin-right: 20px">
<div style="display:inline-block;">
  <a href="/users" class="button">Регистрация/Вход</a>
  <a href="/aboutauthors" class="button">Создатели Firefox</a>
</div>
<div class="page-wrapper">
  <section>
    <div style="float:left; margin: 7px 7px 7px 0;">
    <img src="images/mozilla-firefox.png">
    </div>
    <header>
      <h1>История создания и развития браузера Mozilla Firefox</h1>
    </header>
    <div class="preamble">
      <p>Его называют «Огнелис», «ФФ» и «Мозилла». Одни пользователи считают браузер Mozilla Firefox худшим из того, что когда-либо было создано, приводя в качестве аргументов массу брешей в безопасности и любовь программы к фатальным ошибкам. Противоборствующая сторона называет этот браузер идеальным, ставя его в один ряд с лучшими программами для работы и серфинга в Интернете. Давно замечен труднообъяснимый психологический эффект: стоит человеку какое-то время проработать в Firefox, как он навсегда в него влюбляется. Становясь его приверженцем, поклонником и адептом.</p>
      <p>Сегодня интернет-браузер Mozilla Firefox занимает третье место в мире по популярности среди всех существующих браузеров и уверенное первое место — в номинации «Свободное ПО».</p>
      <p>Впрочем, есть страны, где популярность Firefox выше общемировой. Так, скажем, в России Firefox — второй, а в Германии — и вовсе первый. Именно о том, что предшествовало столь оглушительной славе этой программы, мы сегодня с вами и поговорим.</p>
    </div>
  </section>

  <section>
    <header>
      <h1>Создание Firefox. Начало</h1>
    </header>
    <div class="preamble">
      <div style="float:right; margin: 7px 7px 7px 0;">
        <img src="images/ie.png">
      </div>
      <p>А история Firefox началась с того, что в компании Netscape Communications очень хотели создать браузер, который отхватил бы какой-то кусок пирога у невероятно популярного Internet Explorer. Да-да, я не ошибся, всё верно: пребывающий сегодня в подвешенном состоянии и оживляемый лишь потугами Microsoft, браузер IE в конце XX века был крайне, просто-таки фантастически, популярен.</p>
      <p>Вполне естественно, что другие компании делали всё, чтобы повторить этот успех. Да, скажем откровенно, браузер Netscape 5 схватку с Internet Explorer в 1998 году провалил полностью, но всё же не пропал бесследно — именно на его «останках» началось создание новой программы для сёрфинга в Сети. Вернее, программа, по сути, писалась, что называется «с нуля», от Netscape 5 были взяты лишь кое-какие идеи и куски открытого программного кода. В основе же современного браузера Firefox лежит свободно портируемый движок Gecko.</p>
      <p>До 2002 года развитие нового браузера шло ни шатко, ни валко. Как это часто бывает, мотивационным пинком для усиленной работы над проектом стал кризис. В 2002 году корпорация AOL Time Warner, владевшая Netscape Communications, приняла решение закрыть убыточный проект. Впрочем, разработки нового браузера не свернули, а выделили в отдельную структуру Mozilla Foundation.</p>
      <p>К слову сказать, корпорация AOL Time Warner здорово помогла новой компании на начальном этапе, снабдив компьютерной техникой, дав кое-какие первоначальные средства и передав права на интеллектуальную собственность.</p>
    </div>
  </section>

  <section>
    <header>
      <h1>Создание Firefox. Продолжение</h1>
    </header>
    <div class="preamble">
      <p>Как раз с момента обретения самостоятельности развитие проекта и стало набирать серьёзные обороты. Уже 23 сентября 2002 года был выпущена первая версия 0.1. Откровенно сказать, первый релиз не привлёк внимания ни широкой публики, ни специалистов. Мало того, программа была до того «сырой», что многие изменения вносились разработчиками буквально на полном ходу, в момент использования программы. Конечно же, это впоследствии повлекло за собой кое-какие проблемы с совместимостью. И всё же начало было положено: браузер увидел свет и стал активно развиваться.</p>
      <p>Знаковой датой в истории браузера Mozilla Firefox можно смело считать 9 ноября 2004 года. В этот день вышла первая стабильная версия 1.0. Простите за штампы, но появление этой версии по своему эффекту было сродни эффекту от разорвавшейся бомбы. Новый браузер настолько полюбился пользователям, что всего за год его установило более 100 000 000 человек. Причём 25 миллионов загрузок Firefox набрал за первые 100 дней после размещения программы в Интернете. Внушительные цифры.</p>
      <p>Затем были версии 1.5 (2005 год); 2.0 (2006); 3.0 (2008); 4.0 (2011) и так далее. Каждая из версий что-то улучшала, оптимизировала, втягивала в свою орбиту всё новые ОС и дополнительные функции. По состоянию на март 2014 года браузер Firefox насчитывает уже 27 стабильных версий, каждая из которых лишь увеличивала армию поклонников программы.</p>
      <p>Интересно, что название Firefox было далеко не первым. Сейчас уже мало кто знает, но изначально браузер назывался Phoenix («Феникс» ), затем — Firebird ( «Жар-птица») и лишь после того, как оба эти названия были отвергнуты из-за нарушения авторских прав разработчиками, и появилась известная всему интернет-сообществу милая огненная лисица. Которая, кстати, вовсе не лисица, а малая панда. По крайне мере, именно так считают китайцы, с языка которых дословно и переведено название.</p>
    </div>
  </section>

  <section>
    <header>
      <h1>Интересное о Firefox</h1>
    </header>
    <div class="preamble">
      <ul style="list-style-type: square">
        <li> Компания Mozilla Foundation получает от Google немалые средства за то, что в Firefox поиском по умолчанию является именно Google. Так же, кстати, именно Google является в Firefox и домашней страницей по умолчанию. Интересно, что до версии 14.0 в русскоязычной сборке браузера сервисом поиска по умолчанию был Яндекс. С момента выхода 14.1 — поиском по умолчанию стал снова Google.</li>
        <li> В 2004 году одна из самых известных газет мира New York Times опубликовала рекламу браузера, размещённую на целой газетной полосе. Казалось бы, ничего особенного: рекламой программ и игр в печатных изданиях сегодня уже никого не удивить. Примечательно же то, что сама компания-владелец браузера не имела к этому совершенно никакого отношения. Все деньги на рекламу были собраны фанатами Firefox.</li>
        <li> Представители Книги рекордов Гиннеса официально засвидетельствовали факт, давший право браузеру называться самым скачиваемым ПО в мире: в 2008 году Firefox всего за сутки был скачан более 8 миллионов раз.</li>
        <li> Именно в Firefox стали первыми применяться расширения и дополнения, без которых уже невозможно представить современный браузер.</li>
      </ul>
    </div>
  </section>

  <section>
    <header>
      <h1>Firefox: прогнозы на будущее</h1>
    </header>
    <div class="preamble">
      <p>Сегодня, когда в IT-сфере крутятся колоссальные средства, каждое успешное решение сродни открытию настоящей золотой жилы. И браузер Firefox в данном случае не исключение. Уже не первый год ведётся усиленная работа по его популяризации и интеграции с мобильными устройствами. Ширится объём специальных расширений, доступных для владельцев браузера. Активно ведётся и медийный посев, благодаря которому рост популярности Mozilla Firefox постоянно увеличивается.</p>
      <p>Вообще, если следить за статистикой скачиваний, можно сделать вывод, что уже очень скоро нас ждёт очередной «передел сфер влияния». Учитывая же то, что владельцы Firefox крайне редко переходят на другие системы веб-серфинга, то можно ждать значительного скачка популярности этого действительно очень необычного и самобытного браузера.</p>
    </div>
  </section>
</div>
</body>