<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Искусственный интеллект</title>
</head>

<body>
    <main>

        <div id="user-block"></div>

        <div class="back-image">
            <div class="block">
                <div class="block-top">
                    <h1 class="block-title">Что такое искусственный интеллект?</h1>
                </div>
                <div class="separator"></div>
                <div class="block-middle">
                    <div class="text">
                        Искусственный интеллект (ИИ) - это обширная отрасль информатики,
                        занимающаяся созданием интеллектуальных машин, способных выполнять задачи,
                        которые обычно требуют человеческого интеллекта. ИИ - это междисциплинарная
                        наука с множествами методов приминения. Достижения в области машинного и глубокого
                        обучения впечатляют и оказывают своё влияние практически во всех сферах
                        технологической индустрии
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="menu">
            <a class="menu-item" onclick="moveHowItWorks()">Как работает искусственный интеллект</a>
            <a class="menu-item" onclick="moveHowItIsUsed()">Как используется ИИ</a>
            <a class="menu-item" onclick="moveHistory()">История ИИ</a>
        </div>


        <div id="back-color">
            <div id="block-ai-work" class="block">
                <div class="block-top">
                    <h1 id="howitworks" class="block-title">Как работает Искусственный Интеллект</h1>
                </div>
                <div class="separator"></div>
                <div class="block-middle">
                    <div id="quote">Могут ли машины думать? - Алан Тьюринг</div>
                    <div class="text">
                        Менее чем через десять лет после взлома нацистской машины шифрования
                        Enigma и помощи Союзным силам в победе во Второй мировой войне
                        математик Алан Тьюринг во второй раз изменил историю, задав простой вопрос:
                        «Могут ли машины мыслить?»
                    </div>
                    <div id="image-container">
                        <div id="image-human">
                            <img alt="Artificial Intelligence..." src="../public/images/img1.png" />
                        </div>
                        <div id="image-text">
                            <div class="text">
                                Статья Тьюринга «Вычислительная техника и интеллект» (1950)
                                определила фундаментальную цель и видение искусственного интеллекта.
                                Что такое искусственный интеллект? По своей сути, ИИ является отраслью
                                информатики, которая стремится утвердительно ответить на вопрос Тьюринга.
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        Это стремление воспроизвести или смоделировать человеческий интеллект в машинах.
                        Обширные возможности искусственного интеллекта породили много вопросов и дебатов
                        , что не существует единого определения общепринятого определения.
                    </div>
                    <div class="text">
                        Невозможно дать простое определение искусственному интеллекту. Так как это не просто
                        «создание интеллектуальных машин». Подобное определение фактически не объясняет,
                        что такое искусственный интеллект. Что делает машину умной?
                    </div>
                    <div class="text">
                        Петер Норвиг и Стюарт Рассел, специалисты в области вычислительной техники, продолжают
                        исследовать четыре различных подхода, которые исторически определяли область ИИ:
                    </div>
                    <ul>
                        <li>Думать по-человечески</li>
                        <li>Мыслить рационально</li>
                        <li>Действовать по-человечески</li>
                        <li>Действовать рационально</li>
                    </ul>
                    <div class="text">
                        Обращаясь к участникам Japan AI Experience в 2017 году,
                        генеральный директор DataRobot Джереми Ачин начал свое выступление,
                        предложив следующее определение искусственного интеллекта:
                    </div>
                    <div class="text">
                        "ИИ - это компьютерная система, способная выполнять задачи,
                        которые обычно требуют человеческого интеллекта ...
                        Многие системы искусственного интеллекта основаны на машинном
                        обучении, на глубоком обучении, а некоторые основаны на использовании
                        очень скучных правил..."
                    </div>
                </div>
            </div>
        </div>

        <div class="block">
            <div class="block-top">
                <h1 id="howitisused" class="block-title">Как используют Искусственный Интеллект?</h1>
            </div>
            <div class="separator"></div>
            <div class="block-middle">
                <div class="text">
                    Искусственный Интеллект обычно подразделяют на две широкие категории:
                </div>
                <ul>
                    <li>Narrow AI (Узкий ИИ)</li>
                    <li>Artificial General Intelligence (Общий ИИ)</li>
                </ul>
                <div class="text">
                    Narrow AI вокруг нас и, пожалуй, это самая успешная реализация ИИ на сегодняшний
                    день. Сосредоточившись на выполнении конкретных задач, в последнее десятилетие
                    Narrow AI пережил множество прорывов, которые принесли «значительные социальные
                    выгоды и способствовали экономической жизнеспособности нации», согласно «Preparing
                    for the Future of Artificial Intelligence» (2016 год, выпущен администрацией Обамы).
                </div>
                <div class="text">
                    Некоторые проекты, реализованные с использованием Narrow AI:
                </div>
                <ul>
                    <li>Google Search</li>
                    <li>ПО для распознования изображений</li>
                    <li>Siri, Alexa и другие виртуальные помощники</li>
                    <li>Автомобили с автопилотом</li>
                </ul>
                <h2 class="chapter">Machine Learning & Deep Learning</h2>
                <div class="text">
                    Большая часть Narrow AI основана на таких технологиях, как машинное и глубокое обучение.
                    Понимание разницы между искусственным интеллектом, машинным и глубоким обучением может
                    привести к путанице. Фрэнк Чен дает отмечает:
                </div>
                <div id="quote">
                    "Искусственный интеллект - это набор алгоритмов, который пытается имитировать
                    человеческий интеллект. Одним из них является машинное обучение, а глубокое обучение
                    является одной из технологий машинного обучения"
                </div>
                <div class="text">
                    По простому, <b>машинное обучение</b> использует компьютерные данные и статистические методы,
                    чтобы помочь ИИ «научиться» прогрессивно улучшать свою показатели, будучи специально
                    не запрограммированным для этой задачи. Это устраняет необходимость в миллионах строк
                    написанного кода. Машинное обучение состоит из контролируемого обучения (с использованием
                    маркированных наборов данных) и неконтролируемого обучения (с использованием
                    немаркированных наборов данных).
                </div>
                <div class="text">
                    <b>Глубокое обучение</b> - это тип машинного обучения, в котором информация поступает через
                    биологическую архитектуру нейронной сети. Нейронные сети содержат ряд скрытых слоев,
                    через которые обрабатываются данные, что позволяет машине «углубляться» в обучение,
                    устанавливать соединения и взвешивать входные данные для достижения наилучших результатов.
                </div>
                <h2 class="chapter">Artificial General Intelligence</h2>
                <div class="text">
                    Создание машины с интеллектом человека, которая может быть применена к любой задаче,
                    является священным Граалем для многих исследователей искусственного интеллекта, но
                    поиск AGI сопряжен с трудностями.
                </div>
                <div class="text">
                    Поиск «универсального алгоритма обучения и действия в любой среде» - актуальная
                    и уже не новая проблема. Однако всё ещё создание машины с полным набором когнитивных
                    способностей невозможно.
                </div>
                <div class="text">
                    AGI долгое время была музой антиутопической научной фантастики, в которой
                    сверхинтеллектуальные роботы наводнили человечество. Но эксперты соглашаются,
                    что это не то, о чем нам нужно беспокоиться в ближайшее время.
                </div>
            </div>

            <div id="block-decoration"></div>
        </div>

        <div id="border-image"></div>

        <div class="block">
            <div id="block-decoration"></div>
            <div class="block-top">
                <h1 id="history" class="block-title">История Искусственного Интеллекта</h1>
            </div>
            <div class="separator"></div>
            <div class="block-middle">
                <div class="text">
                    Умные роботы впервые появились в древнегреческих мифах античности.
                    Развитие Аристотелем силлогизма и использование дедуктивного мышления
                    было ключевым моментом в стремлении человечества понять свой собственный
                    разум. Хотя корни кажутся длинными и глубокими, история искусственного
                    интеллекта насчитывает менее столетия. Ниже приведен краткий обзор некоторых
                    наиболее важных событий в области развития Искусственного Интеллекта.
                </div>
                <h2 class="chapter">1943</h2>
                <ul>
                    <li class="li-history">
                        Уоррен Маккалоу и Уолтер Питтс публикуют «A Logical Calculus of Ideas
                        Immanent in Nervous Activity». В работе предложена первая математическая
                        модель для построения нейронной сети.
                    </li>
                </ul>
                <h2 class="chapter">1950</h2>
                <ul>
                    <li class="li-history">
                        Алан Тьюринг публикует «Вычислительную технику и интеллект»,
                        предлагая так называемый «тест Тьюринга» - метод определения,
                        является ли машина интеллектуальной.
                    </li>
                    <li class="li-history">
                        Студенты Гарварда Марвин Мински и Дин Эдмондс создают SNARC,
                        первый компьютер нейронной сети.
                    </li>
                    <li class="li-history">
                        Клод Шеннон публикует статью «Программирование компьютера для
                        игры в шахматы».
                    </li>
                    <li class="li-history">
                        Исаак Азимов публикует «Три закона робототехники».
                    </li>
                </ul>
                <h2 class="chapter">1954</h2>
                <ul>
                    <li class="li-history">
                        Эксперимент по машинному переводу Georgetown-IBM автоматически
                        переводит 60 тщательно отобранных русских предложений на английский.
                    </li>
                </ul>
                <h2 class="chapter">1956</h2>
                <ul>
                    <li class="li-history">
                        Фраза искусственный интеллект придумана в «Dartmouth Summer
                        Research Project on Artificial Intelligence». Конференция,
                        проводимая Джоном Маккарти, которая определила сферу и цели ИИ,
                        считается рождением искусственного интеллекта, каким мы его знаем сегодня.
                    </li>
                    <li class="li-history">
                        Аллен Ньюэлл и Герберт Саймон демонстрируют Logic Theorist (LT),
                        первую программу рассуждений.
                    </li>
                </ul>
                <h2 class="chapter">1959</h2>
                <ul>
                    <li class="li-history">
                        Аллен Ньюэлл, Герберт Саймон и Дж. С. Шоу разрабатывают программу
                        General Problem Solver (GPS), предназначенную для имитации решения
                        проблем человеком.
                    </li>
                    <li class="li-history">
                        Артур Самуэль использует термин «машинное обучение» в IBM.
                    </li>
                    <li class="li-history">
                        Джон Маккарти и Марвин Мински основали проект MIT по искусственному интеллекту.
                    </li>
                </ul>
                <h2 class="chapter">1969</h2>
                <ul>
                    <li class="li-history">
                        Первые успешные экспертные системы были разработаны в DENDRAL,
                        программы XX и MYCIN, разработанные для диагностики инфекций крови,
                        созданы в Стэнфорде.
                    </li>
                </ul>
                <h2 class="chapter">1972</h2>
                <ul>
                    <li class="li-history">
                        Создан язык логического программирования PROLOG
                    </li>
                </ul>
                <h2 class="chapter">1974-1980</h2>
                <ul>
                    <li class="li-history">
                        Разочарование в связи с прогрессом развития ИИ приводит к
                        значительному сокращению DARPA академических грантов. В сочетании
                        с более ранним отчетом ALPAC и отчетом Lighthill за предыдущий
                        год финансирование искусственного интеллекта иссякает, и исследования
                        прекращаются. Этот период известен как «Первая зима AI».
                    </li>
                </ul>
                <h2 class="chapter">1980</h2>
                <ul>
                    <li class="li-history">
                        Корпорация цифрового оборудования разрабатывает R1 (также известный как XCON),
                        первую успешную коммерческую экспертную систему. Разработанный для настройки
                        заказов на новые компьютерные системы, R1 запускает инвестиционный бум в
                        экспертные системы, который продлится большую часть десятилетия, фактически
                        закончив первую «Зиму AI».
                    </li>
                </ul>
                <h2 class="chapter">1985</h2>
                <ul>
                    <li class="li-history">
                        Компании тратят более миллиарда долларов в год на экспертные системы,
                        и целая отрасль, известная как рынок машин Lisp, появляется для их поддержки.
                        Такие компании, как Symbolics и Lisp Machines Inc., создают специализированные
                        компьютеры для работы на языке программирования AI Lisp.
                    </li>
                </ul>
                <h2 class="chapter">1987-1993</h2>
                <ul>
                    <li class="li-history">
                        По мере совершенствования вычислительной техники появились более дешевые
                        альтернативы, и в 1987 году рынок машин Lisp рухнул, положив начало «Второй
                        зиме ИИ». В течение этого периода экспертные системы оказались слишком дорогими
                        для обслуживания и обновления, в конечном итоге потеряв популярность.
                    </li>
                    <li class="li-history">
                        Япония прекращает проект FGCS в 1992 году, ссылаясь на провал в достижении
                        амбициозных целей, намеченных десятилетием ранее.
                    </li>
                    <li class="li-history">
                        DARPA заканчивает Инициативу по стратегическим вычислениям в 1993 году,
                        потратив почти 1 миллиард долларов и не оправдав ожидания.
                    </li>
                </ul>
                <h2 class="chapter">1997</h2>
                <ul>
                    <li class="li-history">
                        IBM Deep Blue обыграл чемпиона мира по шахматам Гарри Каспарова
                    </li>
                </ul>
                <h2 class="chapter">2005</h2>
                <ul>
                    <li class="li-history">
                        Стэнли, автомобиль с автоматическим управлением, выигрывает Гран-При DARPA.
                    </li>
                    <li class="li-history">
                        Американские военные начинают инвестировать в таких автономных роботов,
                        как Boston Dynamics "Big Dog" и iRobot "PackBot".
                    </li>
                </ul>
                <h2 class="chapter">2008</h2>
                <ul>
                    <li class="li-history">
                        Google делает прорыв в распознавании речи и представляет эту функцию в своем
                        приложении для iPhone.
                    </li>
                </ul>
                <h2 class="chapter">2012</h2>
                <ul>
                    <li class="li-history">
                        Эндрю Нг (Andrew Ng), основатель проекта глубокого обучения Google,
                        обучает нейронную сеть, используя алгоритмы глубокого обучения, на 10
                        миллионах видео YouTube в качестве учебного набора. Нейронная сеть
                        научилась распознавать кошку, при том, что в неё эту информацию никто не
                        закладывал. Это открыло новую эру финансирования глубокого обучения.
                    </li>
                </ul>
                <h2 class="chapter">2014</h2>
                <ul>
                    <li class="li-history">
                        Google делает первый автомобиль на автопилоте, который проходит
                        государственный экзамен по вождению.
                    </li>
                </ul>
                <h2 class="chapter">2016</h2>
                <ul>
                    <li class="li-history">
                        AlphaGo от Google DeepMind победил чемпиона мира по Го Ли Седола.
                        Сложность древнекитайской игры рассматривалась как серьезное
                        препятствие для прояснения ИИ.
                    </li>
                </ul>
            </div>

            <div id="btn-container">
                <button onclick="moveUp()">Вверх</button>
            </div>
        </div>
    </main>

    <footer></footer>

    <script src="/javascripts/blocks/header.js"></script>
    <script src="/javascripts/blocks/userBlock.js"></script>
    <script src="/javascripts/blocks/footer.js"></script>
    <script src="/javascripts/mainSettings.js"></script>
</body>

</html>