extends layout

block content
    .limiter
        .container-login100(style="background-image: url('/design/images/bg-01.jpg');")
          .wrap-login100.p-l-55.p-r-55.p-t-65.p-b-54
            form.login100-form.validate-form(method="post" action="/api/post/example")
              span.login100-form-title.p-b-49
                | Зарегайся
              .wrap-input100.validate-input.m-b-23(data-validate='Поле обязательно для заполнения')
                span.label-input100 Придумайте имя пользователя
                input.input100(type='text', name='name', placeholder='Введите имя пользователя')
                span.focus-input100(data-symbol='😜')
              .wrap-input100.validate-input(data-validate='Поле обязательно для заполнения')
                span.label-input100 Придумайте логин
                input.input100(type='text', name='age', placeholder='Укажите возраст')
                span.focus-input100(data-symbol='😈')
              .wrap-input100.validate-input(data-validate='Поле обязательно для заполнения')
                span.label-input100 Пароль
                input.input100(type='password', name='id', placeholder='Введите пароль')
                span.focus-input100(data-symbol=' 😱')
              .wrap-input100.validate-input(data-validate='Поле обязательно для заполнения')
                span.label-input100 Повторите пароль
                input.input100(type='password', name='idConfirm', placeholder='Повторите пароль')
                span.focus-input100(data-symbol='😊')
              .container-login100-form-btn
                .wrap-login100-form-btn
                  .login100-form-bgbtn
                  button.login100-form-btn
                    | Login
              .txt1.text-center.p-t-54.p-b-20
                span
                  | Уже есть аккаунт?
                a.txt2(href='/login')
                  |  Залогинься