.intro__reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    width: 100%;
    height: 100vh;
    min-height: 820px;
    color: white;
    text-transform: uppercase;
}

.--reg{
    background: url("../images/reg.jpg") center no-repeat;
    background-size: cover;
}

.--auth{
    background: url("../images/auth.png") center no-repeat;
    background-size: cover;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(29, 44, 42, 0.5);;

    width: 80%;
    margin: 60px auto;
}

.input__block {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 30px;
    padding: 30px;
}

.header__inner--reg{
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 60%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border: none;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 15px;
    animation: appearance 1s linear;
}

button {
    display: inline-block;
    vert-align: top;
    padding: 10px 15px;

    border: 3px solid white;

    color: white;
    background-color: #699e8b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    background-color: white;
    color: black;

    transition: background 0.2s linear, color 0.1s linear;
}

.button--log {
    align-self: center;
    margin: 15px 0 30px 0;
}

@media (max-width: 575px) {
    .auth {
        width: 80%;
    }

    form {
        width: 70%;
    }
}
