body {
    padding: 55px;
    font: 15px "Lucida Grande", Arial, Tahoma, sans-serif;
    background: #000 url(../Images/Ang.jpg);
    background-size: 100%;
}
/* заголовок*/
h1{
    color: #FFFF00;
    font-family: ‘Time New RomanS’, sans-serif;
    font-size: 47px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    text-indent: 30px;
    margin: 0;
}
/* подзаголовки*/
h2{
     color: #000000;
     font-family: ‘Time New RomanS’, sans-serif;
     font-size: 40px;
     font-weight: 100;
     letter-spacing: 1px;
     text-indent: 30px;
     margin: 0;
 }

h3{
    color: #000000;
    font-family: ‘Time New RomanS’, sans-serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    text-indent: 30px;
    margin: 0;
}

h5{
    color: #000000;
    font-family: ‘Time New RomanS’, sans-serif;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
    text-indent: 30px;
    margin: 0;
}

/* кнопка "подробнее"*/
footer a {
    text-decoration: none;
    line-height: 2;
    font-size: 1.5em;
    font-family: ‘Time New RomanS’, sans-serif;
    padding: 0.1em 1em;
    border-radius: 25px;
    box-shadow: 0 1px 15px -3px rgba(255,255,0,.5);
    background-color: rgba(255, 0, 255, 0.9);
}

.content {
    padding: 10px 25px;
    border-radius: 0px;
    background-color: rgb(255, 255, 0, 0.65);
}

li {
    color: #000000;
    font-family: ‘Arial’, sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}

#menu{
    display: flex;
    height: column;
    left: 5em;
    line-height: flex;
    margin: 0;
    padding: 0;
    top: 0;
    font-size:22px;
}
#menu a {
    text-decoration: none;

    font-family: ‘Helvetica Neue’, sans-serif;
    letter-spacing: 1px;
}
a {
    color: #00FFFF;
}

@media screen and (max-width: 560px) {
    h1{
        color: #FFFF00;
        font-family: ‘Time New RomanS’, sans-serif;
        font-size: 19px;
        letter-spacing: 1px;
        text-indent: 30px;
        margin: 0;
    }
    h2{
        color: #000000;
        font-family: ‘Time New RomanS’, sans-serif;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px;
        text-indent: 30px;
        margin: 0;
    }

    h3{
        color: #000000;
        font-family: ‘Time New RomanS’, sans-serif;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px;
        text-indent: 30px;
        margin: 0;
    }

    h5{
        color: #000000;
        font-family: ‘Time New RomanS’, sans-serif;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 1px;
        text-indent: 30px;
        margin: 0;
    }
}

section {
    display: block;
    width: 100%;
}

.field {
    margin-bottom: 5px;
}

.btn {
    text-decoration: none;
    line-height: 2;
    font-size: 1.1em;
    font-family: ‘Time New RomanS’, sans-serif;
    padding: 0.1em 1em;
    border-radius: 15px;
    box-shadow: 0 1px 15px -3px rgba(255,255,0,.5);
    background-color: rgba(255, 0, 255, 0.9);
}
