@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  display: block;
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
  width: 100%;
  padding: 10px 0.5% 0px 0.5%;
  background: transparent;
  float: left;
  position: fixed;
}

header #logo {
  color: #fff;
  cursor: pointer;
  /*font-style: oblique;*/
  font-weight: bold;
  font-family: 'Russo One', sans-serif;
}

header #logo span {
  font-size: 1.7em;
  line-height: 45px;
  margin-left: 40px;
  font-family: 'Suez One', serif;
}

@media (min-width: 701px) {
  #logo {
    float: left;
    width: 30%;
    font-size: 1.1em;
  }

  #about {
    float: right;
    width: 67%;
  }
}

@media (max-width: 700px) {
  #logo {
    margin-top: 15px;
    width: 100%;
    font-size: 1.5em;
  }

  #about {
    float: left;
    width: 100%;
  }
}

#about {
  text-align: center;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 10px;
}

#about > a {color: #fff}

#about > a:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid silver;
}

header.fixed #logo {
  color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}

/* Главный блок на сайте */

#top {
  width: 100%;
  background-image: url(https://storge.pic2.me/upload/774/54a415fea29da.jpg);
  background-blend-mode: multiply;
  background-color: #2e3a44;
  background-size: cover;
  text-align: center;
  color: #fff;
}

@media (min-width: 1001px) {
  #top {
    font-size: 3em;
    height: 1000px;
  }
}

@media (max-width: 1000px) and (min-width: 651px) {
  #top {
    font-size: 2em;
    height: 600px;
  }
}

@media (max-width: 650px) {
  #top {
    font-size: 1.3em;
    padding-top: 50%;
    height: 500px;
  }
}

@media (max-width: 450px) {
  #top {
    font-size: 0.9em;
  }
}

#top h1 {
  padding-top: 20%;
}

#top h3 {
  color: #ccc;
}

/*-----------------------*/


/* Окно */

.overlay_popup {
	display:none;
	position:fixed;
	z-index: 999;
	top:0;
	right:0; 
	left:0;
	bottom:0;
	background:#000; 
	opacity:0.5;
}

.popup {
	display: none;
	position: relative;
	z-index: 1000;
  width:100%;
  
}

/* Ещё немного стилей для popup окна */

.object{
	height: 100%;
	background-color: #eee;
  padding: 10px 20%;
  width:60%;
  text-align: justify;
}


.videoobject{
	height: 100%;
	background-color: #eee;
}



@media (max-width: 320px) {
  .object {
   height: 100%;
  	background-color: #eee;
   padding: 10px 20%;
    width:60%;
    text-align: justify;
    font-size: 0,9em;
  }
}

@media (min-width: 321px) {
  .object {
    height: 100%;
	  background-color: #eee;
    padding: 10px 20%;
    width:60%;
    text-align: justify;
  }
}


/*-----------------------*/

/* Блок с планетами */

#main {
  padding: 50px 30%;
  width: 40%;
  float: left;
  text-align: center;
  color: #484848;
}

.scale {
  transition: 1s; /* Время эффекта */
  padding: 30px 20%;
  width: 60%;

 }
 .scale:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
  cursor: pointer;
}


#main.block{
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 50px;
}

#main div{
  margin-top: 20px;
  margin-bottom: 20px;
}


@media (min-width: 1401px) {
  #main {
    padding: 50px 20%;
    width: 60% ;
    font-size: 2em;
  }
}

@media (max-width: 1400px) {
  #main h2{ font-size: 2em;}
  #main {
    padding: 50px 10%;
    width: 80%;
    background-color:  #eee;
  }
}

#main img {
  width: 100%;
  max-width: 300px;
}

#main span {
  float: left;
  width: 100%;
  font-size: 1em;
  margin-top: 10px;
}


.container {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows:  100% 100%;
}


#overview h2 {font-size: 4em}




/* Блок с преимуществами */

#overview {
  float: left;
  background-image: url(../images/moon.jpg);
  background-blend-mode: multiply;
  background-color: #403f40;
  background-size: cover;
  background-attachment: fixed;

  padding: 100px 0;
  width: 100%;
  text-align: center;
  color: #fff;
}


#overview h2 {font-size: 4em}
#overview h4 {color: #ccc; font-size: 1.5em}

@media (min-width: 561px) {
  #overview h2 {font-size: 4em}
}

@media (max-width: 560px) {
  #overview h2 {font-size: 2em}
}

#overview .img {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 50px;
}

#overview .img:nth-child(odd) {
  margin-left: 18%;
}

#overview img {
  background: #fafafa;
  padding: 5px;
  border: 2px solid silver;
  float: center;
  width: 100%;
  max-width: 500px;
}

#overview span {
  float: left;
  width: 100%;
  font-size: 2em;
  margin-top: 10px;
}

@media (max-width: 700px) {
  #overview .img {
    width: 80%!important;
    margin-right: 0!important;
    margin-left: 10%!important;
  }
}

/* Блок с контактами */
#contacts {
  width: 100%;
  float: left;
  padding-bottom: 40px;
  padding-top: 70px;
  border-top: 4px solid #ccc;
  background: #f4f4f4;
  text-align: center;
  
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
}

#contacts h5 {font-size: 3em; color: #4f4f4f; margin-bottom: 10px;}

/*
#form_input {
  font-size: 1.1em;
}

@media (min-width: 1051px) {
  #form_input {
    width: 35%;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  #form_input {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  #form_input {
    width: 90%;
    margin: 0 auto;
  }
}

#form_input label {
  color: #505050;
  cursor: pointer;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
}

#form_input label > span {
  color: #e87e7e;
}



#form_input input,#form_input textarea {
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid silver;
  font-size: 1.2em;
  color: #505050;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  border-radius: 7px;
}


#form_input input:focus, #form_input textarea:focus {
  border-color: #333;
}
*/
/*=================================================*/


@media (min-width: 1051px) {
  .form {
    width: 35%;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  .form {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  #contacts h5{
    font-size: 2em;
  }
  .form {
    width: 90%;
    
  }
}



.form {
  display: inline-block;
}

.form__field {
  margin-bottom: 10px;
}

.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  display: block;
  margin-top: 3px;
  display: none;
}

.form input, .form textarea{
  margin-bottom: 10px;
  width: 90%;
  border: 2px solid silver;
  font-size: 1.2em;
  color: #505050;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  border-radius: 7px;
}



input:valid:not(:placeholder-shown) {
  border-color: green;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

/*=================================================*/




.btn {
  width: 90%;
  border-radius: 7px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: #6c28da;
  text-shadow: #454545 0 0 2px;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background-color: #381aa5;
}

/* Вопросы и ответы */

#faq {
  background-color: #fff;
  border-top: 2px dashed #e4e3e3;
  width: 100%;
  float: left;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 801px) {
  #faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
  }
}

@media (max-width: 800px) {
  #faq div {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

#faq .title {
  font-weight: lighter;
  color: #a3a0ad;
  margin-bottom: 20px;
  font-size: 2.2em;
}

#faq .heading {
  color: #7d7d7d;
  font-size: 1.3em;
  font-weight: bold;
}

#faq p {
  font-family: Arimo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4a4a4a;
  font-size: 0.95em;
  margin-bottom: 40px;
}