@media screen and (min-width: 800px) { 
	.but{
		background-color: #ffffffe6;
		font-size: 16px;
		border-radius: 4px;
		padding: 8px 20px;
		border: 2px solid #77c4d3;
	}
#userName{
  font-size: 20px;
  color: #000000;
}
	.side {
		display: block;
		position: absolute;
		padding-top: 2%;
		right: 4%;
		top: 4%;
		width: 20%;
		height: 85%;
		text-align: center;
		background: #f6f792e6;
  }
  
  .p_1{
    display: block;
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    font-size: 100%;
}

	h1 {
    font-size: 35pt;
		margin-block-start: 0.2em;
		margin-block-end: 0em;
		margin-inline-start: 100px;
		margin-inline-end: 0px;
    font-weight: bold;
    width: 60%;
	}

	.p_0{
    position: relative;
		display: block;
		font-size: 20pt;
		margin-block-start: 0em;
		margin-block-end: 0.5em;
		margin-inline-start: 150px;
    width: 40%;
	}

	.one {
		background :#cdeafd;
		color: #000000;
		margin-right: 29%;
		margin-left: 5%;
		padding: 2%;
  }

  .menu{
    display: none;
    visibility: hidden;
  }

  .h2{
    font-size: 20pt;
  }

  h2{
    font-size: 20pt;
  }

  h3{
    font-size: 16pt;
  }

  .lable{
    color: #2c2c2c;
    font-size: 14pt;
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    margin-right: 10px; 
    line-height: 40px;
  }

  .submit{
    background-color: #ffffffe6;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #424242;	
    padding: 8px 30px;
    margin-top: 5%;
    margin-left: 250px;
  }

  input[type="text"]{
    border: 2px solid #424242;
    border-radius: 4px;
    height: 25px; 
    font-size: 16px;
    font-family: "tablet-gothic", "system-ui";
  }

  a{
    font-size: 14pt;
  }
}

@media screen and (max-width: 1024px) { 
	.side {
		visibility: hidden;

	}
  .menu{
    display: block;
    visibility: visible;
    background: #f6f792e6;
		padding: 2% 2% 1% 2%;
		text-align: center;
  }

  #userName{
    font-size: 40px;
    color: #000000;
  }
  .buto{
		background-color: #ffffffe6;
		font-size: 30pt;
    border-radius: 4px;
    width: 80%;
    height: 70px;
		border: 2px solid #77c4d3;
	}
	h1 {
		font-size: 40pt;
		margin-inline-start: 50px;
		margin-inline-end: 0px;
		font-weight: bold;
	}
	
	.p_0{
		display: block;
		font-size: 20pt;
		margin-block-start: 0em;
		margin-block-end: 0.5em;
		margin-inline-start: 100px;
		margin-inline-end: 150px;
  }
  .p_1{
    display: block;
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    font-size: 100%;
  }

	.one {
		background :#cdeafd;
		color: #000000;
		margin-right: 5%;
		margin-left: 5%;
		padding: 2%;
  }
  .h2{
    font-size: 30pt;
  }
  h2{
    font-size: 100%;
  }

  h3{
    font-size: 100%;
  }

  .lable{
    color: #2c2c2c;
    font-size: 30pt;
    font-family: "tablet-gothic", verdana, arial, sans-serif;
    margin-right: 10px; 
    line-height: 70px;
  }
  .submit{
    background-color: #ffffffe6;
    font-size: 40px;
    border-radius: 4px;
    border: 2px solid #424242;	
    padding: 8px 30px;
    margin-top: 10%;
    width: 100%;
  }

  input[type="text"]{
    border: 2px solid #424242;
    border-radius: 4px;
    height: 50px; 
    font-size: 18px;
    font-family: "tablet-gothic", "system-ui";
  }
  a{
    font-size: 10pt;
  }
}

body{
	padding: 0;
	margin: 0;
  background: #838383;
}

.name{
	color: #052a47;
	font-size: 14pt;
	font-family: "tablet-gothic", verdana, arial, sans-serif;
}

.form{
	padding: 2%;
	margin-top: 30%;
	margin-bottom: 3%;
}

nav{
	padding-top: 30%;
}

.link:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
	text-decoration: none;
}

.header {
	padding: 10px;
	text-align: left;
	background: #77c4d3;
	color: white;
  font-size: 18px;
}

.auth {
	box-sizing: border-box;
	background: #838383;
	text-align: left;
	margin-right: 29%;
	margin-left: 5%;
	padding: 2%;
	color: rgb(44, 44, 44);
	font-family: "tablet-gothic", verdana, arial, sans-serif;
}

.two{
  float: left;
  margin-right: 5%;
  margin-left: 5%;
}

.two-1{
	float: left;
	width: 60%;
	background: #77c4d3;
	color: rgb(0, 0, 0);
	padding: 2%;
	position: relative;
	box-sizing: border-box;
}

.two-2{
	float: left;
	width: 40%;
	background: #ec6889e6;
  color: #000000;
	padding: 4%;
	box-sizing: border-box;
	position: relative;
	margin-top: 1%;
}

.three{
	float: left;
	background: #f6f792e6;
	margin-left: 5%;
  padding: 2% 2% 0% 2%;
  margin-right: 5%;
}

.three-1{
	float: left;
	background: #ffffff;
	margin-left: 4%;
	width: 40%;
	padding: 2%;
	margin-top: 2%;
}

.three-2{
	float: right;
	background: #ffffff;
	width: 40%;
	padding: 2%;
	margin-top: 4%;
	margin-right: 4%;
}

.four{
  float: left;
	background: #77c4d3;
  padding: 2% 2% 0% 2%;
  margin-right: 5%;
  margin-left: 5%;
}

li{
  font-family: "tablet-gothic", verdana, arial, sans-serif;
  font-size: 120%;
  padding-bottom: 1%;
}
