body{
    background-color: rgb(233, 233, 233);
    min-width: 960px;
}

.block{
    margin: 2em;
    padding: 1em;
    background-color: rgba(0,0,0,.7);
    color: white;
    text-align: left;
    font-size: 1.3em;
    width: auto;
}

.block h1 {
    margin: 0 0;
	padding: 0;
	text-align: left;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

button {
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: #fff;
    padding: .5em 1em;
    top: .5em;
    left: 2.95em;
    background: rgba(0,0,0,.7);
}

button:hover:not(:active) {
    background: rgb(126,126,134)
}