@import url(http://www.csszengarden.com/214/huntington.jpg);
body {
  padding: 15px;
  background-image: url(https://cdn.pixabay.com/photo/2019/12/10/07/18/ice-4685227_960_720.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  background-image: url(https://st.depositphotos.com/1073974/3201/i/950/depositphotos_32010055-stock-photo-christmas-background.jpg);
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 1px 15px -3px rgba(0, 0, 0, 0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.something {
  margin: 10px 10px 10px 10px;
  float: left;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 0 1px 15px -3px rgba(0, 0, 0, 0.5);
  background-color: rgb(241, 255, 254, 0.9);
}
.mytext {
  font-size: 3vh;
  line-height: 3vh;
}
.contentYet {
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 1px 15px -3px rgba(0, 0, 0, 0.5);
  background-color: rgb(241, 255, 254, 0.9);
}

.title {
  font-family: "Merriweather", Arial, serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 20px;
  border-bottom: 3px solid red;
}

.title::first-letter {
  color: red;
  font-size: 55px;
}

/* Текст */

.shadowed {
  font-size: 40px;
  color: #000;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 100;
  text-shadow: 3px 4px 3px #f74242;
}

.green {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  width: 100px;
  text-align: center;
  font-size: 14px;
  padding: 2px 8px;
  margin: 5px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.green {
  background-color: rgb(90, 179, 185);
  border: 1px solid rgb(18, 29, 133);
  cursor: pointer;
}

.green:hover {
  background-color: rgb(75, 183, 141);
}
input[type="text"] {
  border: 2px solid rgb(19, 7, 77);
  border-radius: 4px;
}
input[type="password"] {
  border: 2px solid rgb(19, 7, 77);
  border-radius: 4px;
}
h1 {
  color: #f90b6d;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 16px;
}

h2 {
  color: #f90b6d;
  font-family: ‘Open Sans’, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 14px;
}

p {
  color: #333333;
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 28px;
}

p:first-of-type {
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 28px;
}

a {
  color: #c73036;
  font-family: Georgia, serif;
  text-decoration: underline;
}

a:hover {
  color: #333333;
  text-decoration: underline;
}

#zatemnenie {
  background: rgba(102, 102, 102, 0.5);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#okno {
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  position: absolute;
  top: 40%;
  left: 40%;
  margin: auto;
  background: #fff;
}
#zatemnenie:target {
  display: block;
}
.close {
  display: inline-block;
  border: 1px solid #0000cc;
  color: #0000cc;
  padding: 0 12px;
  margin: 10px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor: pointer;
}
.close:hover {
  background: #e6e6ff;
}
