<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Справочник по Node.js</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <header>
    <div id="logo" onclick="slowScroll('#top')">
      <span>UrFU</span>
    </div>
    <div id="about">
      <a href="#" title="О проекте" onclick="slowScroll('#main')">О проекте</a>
      <a href="#" onclick="slowScroll('#overview')" title="Темы">Темы</a>
      <a href="#" onclick="slowScroll('#regist')" title="Регистрация">Регистрация/Вход</a>
      <a href="#" onclick="slowScroll('#faq')" title="Ответы на вопросы">FAQ</a>
    </div>
  </header>

  <div id="top">
    <h1>Node.js</h1>
    <h3>простым языком</h3>
  </div>

  <div id="main">
    <div class="intro">
      <h2>Студентам от студентов!</h2>
      <span>Большое количество тем, в которых вы найдете свой ответ</span>
    </div>
    <div class="text">
      <span>Студенты Уральского федерального универсиета, здесь вы сможете постичь все великолепие такой платформы для языка программирования Java Script, как Node.js. Больше не нужно искать нужную вам информацию на сотне разных сайтов. Теперь вы можете заходить на один ресурс, где будет вся актуальная информация на данный момент.</span>
    </div>
  </div>

  <div id="overview">
    <h2>Основы работы с Node.js</h2>
    <h4>Модули</h4>
    <div id="text">
    <p>Node.js использует модульную систему. То есть вся встроенная функциональность разбита на отдельные пакеты или модули. Модуль представляет блок кода, 
      который может использоваться повторно в других модулях. При необходимости мы можем подключать нужные нам модули. Какие встроенные модули есть в node.js и какую функциональность они предоставляют, можно узнать 
      из документации.</p>
      <p>Для загрузки модулей применяется функция <code>require()</code>, в которую передается название модуля. К примеру, в первом приложении из предыдущей темы для получения и обработки запроса 
      был необходим модуль http:</p>
      <pre class="brush:js;">
      const http = require("http");
      </pre>
      <p>После получения модуля мы сможем использовать весь определенный в нем функционал, который опять же можно посмотреть в документации.</p>
      <p>Подобным образом мы можем загружать и использовать другие встроенные модули. Например, используем модуль, который предоставляет информацию об окружении и операционной системе:</p>
      <pre class="brush:js;">
      const os = require("os");
      // получим имя текущего пользователя
      let userName = os.userInfo().username;
      
      console.log(userName);
      </pre>
      <p>Мы не ограничены встроенными модулями и при необходимости можем создать свои. Так, в прошлой теме проект состоял из файла app.js, в котором создавался сервер, обрабатывающий 
      запросы. Добавим в тот же каталог новый файл greeting.js и определим в нем следующий код:</p>
      <pre class="brush:js;">console.log("greeting module");</pre>
      <p>В файле app.js подключим наш модуль:</p>
      <pre class="brush:js;">
      const greeting = require("./greeting");
      </pre>
      <p>В отличие от встроенных модулей для подключения своих модулей надо передать в функцию require относительный путь с именем файла (расширение файла необязательно):</p>
      <pre class="brush:js;">const greeting = require("./greeting");</pre>
      <p>Запустим приложение:</p>
      <img src="https://metanit.com/web/nodejs/pics/2.1.png" alt="Модули в Node.js" />
      <p>На консоль выводится та строка, которая определена в файле greeting.js.</p>
      <p>Теперь изменим файл greeting.js:</p>
      
      
      
      <p>Здесь определена переменная <code>currentDate</code>. Однако из вне она недоступна. Она доступна только в пределах данного модуля. Чтобы какие переменные или функции 
      модуля были доступны, необходимо определить их в объекте module.exports. Объект <code>module.exports</code> - это то, что возвращает функция <code>require()</code> при получении модуля.</p>
      <p>Вообще объект module представляет ссылку на текущий модуль, а его свойство exports определяет все свойства и методы модуля, 
      которые могут быть экспортированы и использованы в других модулях. Подробнее определение загрузки модуля и все его функции можно посмотреть на странице https://github.com/nodejs/node/blob/master/lib/module.js.</p>
      <p>В частности, здесь определяется свойство <code>date</code> и метод <code>getMessage</code>, который принимает некоторый параметр.</p>
      <p>Далее изменим файл app.js:</p>
      <pre class="brush:js;">
      const os = require("os");
      const greeting = require("./greeting");
      
      // получим имя текущего пользователя
      let userName = os.userInfo().username;
      
      
      console.log(`Дата запроса: ${greeting.date}`);
      console.log(greeting.getMessage(userName));
      </pre>
      <p>Все экспортированные методы и свойства модуля доступны по имени: <code>greeting.date</code> и <code>greeting.getMessage()</code>.</p>
      <p>Перезапустим приложение:</p>
      <img src="https://metanit.com/web/nodejs/pics/2.3.png" alt="Подключение модулей в NodeJS" />
      <h4>Определение конструкторов и объектов в модуле</h4>
      <p>Кроме определения простейших функций или свойств в модуле могут определяться сложные объекты или функции конструкторов, которые затем используются для создания объектов. 
      Так, добавим в папку проекта новый файл user.js:</p>
      <pre class="brush:js;">
      function User(name, age){
        
        this.name = name;
        this.age = age;
        this.displayInfo = function() {
          console.log(`Имя: ${this.name}
          Возраст: ${this.age}`);
    }
    }
      User.prototype.sayHi = function() {
          console.log(`Привет, меня зовут ${this.name}`);
    };
      
      module.exports = User;
      </pre>
      <p>Здесь определена стандартная функция конструктора User, которая принимает два параметра. При этом весь модуль теперь указывает на эту функцию конструктора:</p>
      <pre class="brush:js;">
      module.exports = User;
      </pre>
      <p>Подключим и используем этот модуль в файле app.js:</p>
      <pre class="brush:js;">
      const User = require("./user.js");
      
      let eugene = new User("Eugene", 32);
      eugene.sayHi();
      </pre>
      <p>Запустим приложение:</p>
      <img src="https://metanit.com/web/nodejs/pics/2.8.png" alt="Функция конструктора в Node.js" />      
    </div>
  </div>

    <div class="regist">
  
       <center><h2>Регистрация</h2></center> 
      
      <form class = "form_reg" method="post" action="/registration">
        <div>
          <label for="name">Имя</label><br>
          <input type="text" name="username" required>
        </div>
        <div>
          <label for="name">Пароль</label><br>
          <input type="password" name="password" required>
        </div>
        <div>
          <label for="email">E-mail</label><br>
          <input type="email" name="email" required>
        </div>         
        <button class = "button" type="submit">Отправить</button><br>
      </form> 
      <br>
      <br>
      <center><h2>Вход</h2></center> 
      <form class = "form_reg" method="post" action="/login">
        <div>
          <label for="name">Имя</label><br>
          <input type="text" name="username" required>
        </div>
        <div>
          <label for="name">Пароль</label><br>
          <input type="password" name="password" required>
        </div>        
        <button class = "button" type="submit">Отправить</button> 
      </form> 
  </div> 
  <div id="faq">
    <div>
      <span class="title">Контакты</span><br>
      <span class="heading">Вы можете сообщить о проблеме на сайте</span>
      <p>Контактная почта: sekpurazh@gmail.com</p>
      <span class="heading">Сообщите о баге</span>
      <p>Написав гневное письмо разработчику</p>
    </div>
    <div>
      <span class="title">Copyright RI-370004</span><br>
      <span class="heading">Все права защищены, 2019</span>
    </div>
    <div>
      <span class="title">Гарантии</span><br>
      <span class="heading">Какие гарантии есть</span>
      <p>Никаких гарантий нет, мы же в интернете</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function slowScroll(id) {
      $('html, body').animate({
        scrollTop: $(id).offset().top
      }, 300);
    }

    $(document).on("scroll", function () {
      if($(window).scrollTop() === 0)
        $("header").removeClass("fixed");
      else
        $("header").attr("class", "fixed");
    });
  </script>
</body>
</html>